In [ ]:
'''
Boolean Variables

Boolean values are the two constant objects False and True

They also used to reprsent truth values (othr values can also be consider false or true).

In numeric contexts (for example,when used as the arguments to an arthimetic operators),they behave like the integers 0
and 1 , respectively

The built-in function bool() can be used to cast any value to a boolean,if the value can be interpreted as a
a truth value 

They are written as false and True ,respectively


'''

In [1]:
print(True,False)
type(True)
type(False)

True False

bool

In [19]:
my_str = "revi"

print(my_str.capitalize())
print(my_str.casefold())
print("to check if all char are numbers                 ",my_str.isalnum()) 
print("to check if all char in the string are alphabetic",my_str.isalpha())
print("test if string contaons digits                   ",my_str.isdigit())
print("test if string contains lower case               ",my_str.islower())
print("test if dtring contains upper case               ",my_str.isupper())
print("test if string startswith H                      ",my_str.startswith('H'))
print("test if string endswith D                        ",my_str.endswith('D'))
print("test if string contains spaces                   ",my_str.isspace())
print("test if string contains title words              ",my_str.istitle())

Revi
revi
to check if all char are numbers                  True
to check if all char in the string are alphabetic True
test if string contaons digits                    False
test if string contains lower case                True
test if dtring contains upper case                False
test if string startswith H                       False
test if string endswith D                         False
test if string contains spaces                    False
test if string contains title words               False

In [ ]:
'''
Boolean and Logical Operators
'''

In [26]:
# AND operator
print(True and True)

print(True and False)

print(False and True)

print(False and False)

True
False
False
False

In [28]:
#OR operators
print(True or True)

print(True or False)

print(False or True)

print(False or False)

True
True
True
False

In [35]:
#NOT operator
print(not True)

print(not False)

False
True

In [39]:
str_1 = "Hello World"
str_2 = "Wel come"
print(str_1.isalpha() or str_2.isalnum())
print(str_1.isalpha() and str_2.isalnum())

False
False

In [ ]:
'''
Lists


Ordered         : List items have a defined order that wonâ€™t change. New items are added at the end.
Changeable      : You can modify, add, or remove items after creating a list.
Allow Duplicates: Lists can contain items with the same value.

'''

In [1]:
'''
Creating a List:
Lists are created using square brackets []
'''

mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [3]:
'''
Accessing List Items:
List items are indexed (starting from 0)
'''
mylist = ["apple", "banana", "cherry"]
print(mylist[0])

apple

In [4]:
'''
List Length:
Use the len() function to get the number of items in a list.
'''
mylist = ["apple", "banana", "cherry"]

print(len(mylist))

3

In [6]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [7]:
lst = ['mathematics', 'chemistry', 100, 200 ,300]
print(lst)

['mathematics', 'chemistry', 100, 200, 300]

In [13]:
'''
append()
append is used to add elements in the list

'''
mylist.append('orange')
print(mylist)

['apple', 'banana', 'cherry', 'orange', 'orange']

In [14]:
'''
insert in a specific order
'''
mylist.insert(2,"grapes")
print(mylist)

['apple', 'banana', 'grapes', 'cherry', 'orange', 'orange']

In [15]:
'''
extend method
'''

l = [1,2,3,4,5]
l.extend([6,7])
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [16]:
'''
operators that we can perform in a list
'''
sum(l)

28

In [17]:
'''
pop method - to remove an elements from the list by using the indexing
'''
l.pop(3)
print(l)

[1, 2, 3, 5, 6, 7]

In [18]:
l.pop(0)
print(l)

[2, 3, 5, 6, 7]

In [19]:
lst = [1,1,1,2,3,4,3,4]
lst.count(1)

3

In [21]:
'''
finding minimum and maximum in the list
'''
print(min(lst))
print(max(lst))

1
4