In [ ]:
'''
SETS

A set is a unordered coolection data type that is iterable,mutable,and ahs no duplicates elements.
Python's set class represents the mathematical notion of a set.
This is based on a data structure known as a hash table
'''

In [4]:
'''
Defining an empty set
'''

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [5]:
set_var = {"Avengers", "Ironman", "Thor"}
print(set_var)
print(type(set_var))

{'Avengers', 'Thor', 'Ironman'}
<class 'set'>

In [6]:
'''
inbuilt functions in sets
'''
set_var.add("Hulk")
print(set_var)

{'Hulk', 'Avengers', 'Thor', 'Ironman'}

In [13]:
set_A = {"Avengers","Ironman","Thor","Hulk","Captian America","Black Widow","Loki"}
#adds an elements to the set
print(set_A.add("Marvel"))
print(set_A)

print()

#Removes a specified elements from the set
print(set_A.remove("Thor"))
print(set_A)

print()

#Removes an arbitary elements from the set
print(set_A.pop())
print(set_A)

print()

#Removes a specified item from the set
print(set_A.remove("Loki"))
print(set_A)

None
{'Captian America', 'Avengers', 'Thor', 'Hulk', 'Loki', 'Marvel', 'Black Widow', 'Ironman'}

None
{'Captian America', 'Avengers', 'Hulk', 'Loki', 'Marvel', 'Black Widow', 'Ironman'}

Captian America
{'Avengers', 'Hulk', 'Loki', 'Marvel', 'Black Widow', 'Ironman'}

None
{'Avengers', 'Hulk', 'Marvel', 'Black Widow', 'Ironman'}

In [20]:
set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9,0}
print(set1.union(set2))

print()

print(set1.intersection(set2))

print()

print(set1.difference(set2))

print()

print(set1.difference_update(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

{5, 6}

{1, 2, 3, 4}

None

In [ ]:
'''
DICTIONARIES
A dictionary is a collection which is unordered , changeable and indexed.
In Python dictionaries are written with curly brackets,and they have keys and values.

'''

In [23]:
dic  = {}
print(dic)
print(type(dic))

{}
<class 'dict'>

In [25]:
'''
creating a dictionary
'''

my_dict = {"car1":"Audi","car2":"BMW","car3":"Mercidies benz"}
print(my_dict)
print(type(my_dict))

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies benz'}
<class 'dict'>

In [26]:
'''
Accessing the item values based on keys
'''
my_dict = {"car1":"Audi","car2":"BMW","car3":"Mercidies benz"}
print(my_dict['car1'])

Audi

In [27]:
'''
We can even loop throught the dictionries keys
'''
my_dict = {"car1":"Audi","car2":"BMW","car3":"Mercidies benz"}
for i in my_dict:
    print(i)

car1
car2
car3

In [28]:
'''
We can even loop throught the dictionries values
'''
my_dict = {"car1":"Audi","car2":"BMW","car3":"Mercidies benz"}
for i in my_dict.values():
    print(i)

Audi
BMW
Mercidies benz

In [29]:
'''
we can also check both keys and values
'''
my_dict = {"car1":"Audi","car2":"BMW","car3":"Mercidies benz"}
for i in my_dict.items():
    print(i)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies benz')

In [30]:
'''
Adding items in dictionaries
'''
my_dict["car4"] = "superaa"
print(my_dict)

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies benz', 'car4': 'superaa'}

In [31]:
'''
Changing the values of the dictionary
'''
my_dict["car1"] = "Maruthi"
print(my_dict)

{'car1': 'Maruthi', 'car2': 'BMW', 'car3': 'Mercidies benz', 'car4': 'superaa'}

In [ ]:
# NESTED DICTIONARY

In [32]:
car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'ambassador':1980}

car_type = {"car1":car1_model,"car2":car2_model,"car3":car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'ambassador': 1980}}

In [35]:
'''
Accessing the items in the dictionary
'''
print(car_type['car1'])

print()

print(car_type['car1']['Mercedes'])

{'Mercedes': 1960}

1960

In [ ]:
'''
TUPLES
 a tuple is a built-in data type that allows you to create immutable sequences of values.

 A tuple is an ordered collection of elements enclosed in round brackets.
 Unlike lists, tuples are unchangeable after creation.
 Tuples can contain heterogeneous data types (e.g., strings, integers, booleans).
'''

In [37]:
 '''
create an empty tuples
 '''
my_tuples = tuple()
print(my_tuples)
print(type(my_tuples))

()
<class 'tuple'>

In [38]:
my_tuples = ("revi","Akbar","John")
print(my_tuples)

('revi', 'Akbar', 'John')

In [41]:
'''
inbuilt function
'''
my_tuples = ("revi","Akbar","John")
print(my_tuples.index('revi'))

print()

print(my_tuples.count('John'))

print()

print(len(my_tuples))

0

1

3

In [42]:
'''
Tuples can contain strings, integers, booleans, and more
'''
mixed_tuple = ("abc", 34, True)
print(mixed_tuple)

('abc', 34, True)